@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  position: fixed;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Custom animation */
@keyframes floating {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
